= haml :"questions/#{@number}"

%form{:action => "/challenge/#{@number}", :method => "post"}
  %label{:for => "answer"} Answer
  %input#handle{:name => "answer", :type => "text"}/
  %input{:name => "submit", :type => "submit", :value => "Answer !"}/

= haml :license