!!!
%html
  %head
    %title Will you complete the Tinisculus Challenge ?
    %link{:href => "/stylesheets/minisculus.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #bodyContent
      = yield
