%p
  Copyright &copy; 2010 Eden Development (UK) Ltd. This work is licensed under a
  = succeed "." do
    %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license"} Creative Commons Attribution 3.0 Unported License